
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  
    <!-- STORE NAME / LOGO -->
    <div class="container">
    
    <div class="container-fluid d-flex justify-content-between" style="padding-left: 0;">
      <a class="navbar-brand" href="/">{{ shop.name }}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
    </div>
    <!-- NAVIGATION MENU -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          {% for link in section.settings.menu.links %}
            {% if link.links != blank %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{link.title}}
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for dropdownLink in link.links %}
                  <li><a class="dropdown-item" href="{{ dropdownLink.url }}">{{ dropdownLink.title }}</a></li>
                {% endfor %}    
              </ul>
            </li>
            {% else %}
            <li class="nav-item"></li>
              <a class="nav-link active" aria-current="page" href="{{link.url}}">{{link.title}}</a>
            </li>
            {% endif %}
          {% endfor %}

            <!-- CART BUTTON / ACCOUNTS IF ENABLED -->
            <!-- Consider adding cart item counter next to the shopping cart logo and or dropdown menu showing products in cart. AJAX... -->
            <li>
              <a class="nav-link active alt-link noWrap" aria-current="page" href="/cart"><i class="fa-solid fa-cart-shopping faLink"></i></a>
            </li>
            {% if shop.customer_accounts_enabled %}
            {% if customer %}
            <li>
               <a class="nav-link active" aria-current="page" href="/account">{{customer.name}}</a>
               {{ 'Log out'  | customer_logout_link | replace: '<a', '<a class="nav-link active noWrap"' }}
            </li>
            {% else %}
            <li>
              {{ 'Log in' | customer_login_link | replace: '<a', '<a class="nav-link active noWrap"' }}
            </li>
            <li>
              {{ 'Register' | customer_register_link | replace: '<a', '<a class="nav-link active noWrap"' }}
            </li>
            {% endif %}
            {% endif %}
        </ul>  
    </div>
    
  </div>
    
    
  </nav>

 {% schema %}
 {
   "name": "Header",
   "settings":[
   {
     "type": "link_list",
     "id": "menu",
     "label": "Heading Navigation Menu",
     "default": "main-menu"
   }
   ]
 }
 {% endschema %}