<div class="container " style="text-align:center;  border-radius: 20px; height: 60vh; margin: auto; display: flex; justify-content: center; align-items: center; flex-direction: column;">
    <h1>{{ section.settings.title}}</h1>
    <p>{{ section.settings.subtext}}</p>
    {% if section.settings.show-button == true %}
        <a class="btn btn-outline-primary" href="{{section.settings.button-url}}" role="button">{{section.settings.button-text}}</a>  
    {% endif %}
</div>
{% schema %}
{
    "name": "Template-404",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "default": "404",
            "label": "404 Heading Title"
        },
        {
            "type": "text",
            "id": "subtext",
            "default": "Page could not be found",
            "label": "404 Subtext"
        },
        {
            "type": "text",
            "id": "button-text",
            "default": "Home",
            "label": "Button text"
        },
        {
            "type": "text",
            "id": "button-url",
            "default": "{{shop.url}}",
            "label": "Button URL",
            "info": "{{shop.url}} is your stores homepage"
        },
        {
            "type": "checkbox",
            "id": "show-button",
            "label": "Button link?",
            "default": true
        }
    ]
}
{% endschema %}